/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.nav > li > form > button.btn-logout {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-nav > li > form > button.btn-logout {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    width: 100%;
    text-align: left;
    border: none;
    text-decoration: none;
}
@media (min-width: 768px) {
    .navbar-nav > li > form > button.btn-logout {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main h1:first-of-type{
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * Table Styles
*/

@media (min-width: 768px) {
    table.news-table { table-layout: fixed; }
}


