
<form class="createModel" model="news">
      <input name="topic" value="topic" required>
      <input name="content" value="content" required>
      <input name="description" value="description" required>
      <input name="image" value="image(Path)">
      <input name="externalLink" value="externalLink">
      <input type="submit" name="submit" />
</form>